{% extends 'base.html.twig' %}

{% block title %}Les conditions générales de vente des immersions de Viemonjob{% endblock %}
{% block description %}Pour bien comprendre le fonctionnement de Viemonjob, les conditions générale de vente indiquent les différents points importants à retenir{% endblock %}
{% block keywords %}Viemonjob, VMJ, cgv, cgu, tester un métier, test un métier, essayer un métier, reconversion professionnelle{% endblock %}


{% block body %}
    <div id="wrap">

        {% block header %}
            {{ parent() }}
        {% endblock header %}
        <!-- PAGE COORPORATE -->
        <!-- À propos -->

         <section class="  ">
                <div class="row headerpageapropos hidden-xs-down">
                </div>
         </section>
        <!-- Menu à propos -->  

        <section>
            <div class="container submenuapropos pt25 pb20"> 
                <ul class="nav nav-tabs">
                    <li><a href="{{path('page_a_propos')}}">À propos</a></li>
                    <li><a href="{{path('page_aide')}}">FAQ</a></li>
                    <li><a href="{{path('page_on_parle_de_nous')}}">On parle de nous</a></li>
                    <li class="active clearfix"><a href="{{path('page_cgv')}}">Conditions générales d'utilisation</a></li>
                    <li><a href="{{path('page_mentions_legales')}}">Mentions légales</a></li> 
                </ul>
                <!-- Contenu --> 

                 <div class="col-sm-12 text-center"> <h1 class="fw100 mauve fs50 pt30">Conditions générales d'utilisation <br> de Viemonjob</h1>
                 </div>

                <div class="tab-content display-inline submenuaproposcontent">
                    <div id="apropos4" class="padd10p tab-pane fade in active fw100">
                        <br>
                        <p>  
                            <span>PREAMBULE</span><br>

                            <br>La société VMJ (ci-après la société) est une société par action simplifiée dont le siège social est situé à Boulogne-Billancourt (92) au 77, rue de Bellevue et immatriculée au RCS de Nanterre sous le numéro 815 361 746.

                            La société a développé une plateforme digitale de mise en relation en ligne nommée Viemonjob accessible sur le site www.viemonjob.com.

                            Cette plateforme digitale permet à un particulier de découvrir un métier en étant en immersion pendant une semaine avec un professionnel. Elle permet également à un professionnel d’accueillir un particulier pendant une semaine afin de lui faire découvrir les spécificités de son activité professionnelle.

                            Les présentes conditions générales d'utilisation (ci-après CGU) s'appliquent à tous les utilisateurs de la plateforme digitale.

                            L'utilisation de la plateforme digitale Viemonjob implique l'acceptation pleine et entière par des CGU par l’utilisateur.

                            Les utilisateurs conviennent que leurs relations seront exclusivement régies par les présentes CGU.

                            Les CGU applicables sont celles en vigueur à la date de l'inscription de l'utilisateur sur la plateforme digitale Viemonjob.

                            La société se réserve le droit de modifier à tout moment les CGU sous réserve que les utilisateurs en soient préalablement informés par voie électronique et qu’ils ne s'y opposent pas sous un délai de DIX JOURS (10) à compter de l'envoi du courriel.

                            En cas de refus, exclusivement par courriel adressé à la société, par l’utilisateur d'adhérer aux nouvelles CGU, son inscription sera résiliée de plein droit à compter du jour où il a exprimé son refus.

                            La langue utilisée tant pour les CGU que pour la conclusion du contrat est le français.

                            Les présentes CGU sont mises à la disposition des utilisateurs de la plateforme digitale Viemonjob conformément aux dispositions de l'article 1369-4 du Code civil.

                            <br><br><span>ARTICLE PRELIMINAIRE – TERMINOLOGIE</span>

                            <br><br><span>Accueillant :</span> personne physique ou morale qui accueille un découvreur afin de lui permettre d’effectuer une immersion dans son activité professionnelle. 
                            <br><span>Annonce :</span> présentation figurant sur la plateforme digitale et par laquelle l’accueillant décrit et propose au découvreur de découvrir tous les aspects de son métier pour une durée et un tarif déterminés par ses soins. 
                            <br><span>CGU :</span> conditions générales d’utilisation de la plateforme digitale, autrement dit le présent document. 
                            <br><span>Commission : </span>rémunération perçue par la société pour la mise en relation d’un découvreur et d'un accueillant ayant abouti à l'exécution d'une immersion, et calculée comme indiqué dans les présentes CGU. 
                            <br><span>Découvreur :</span> personne physique qui effectue une immersion auprès d’un accueillant. Professionnel : personnes physique ou morale qui accepte, via la plateforme digitale, de faire découvrir son activité professionnelle. Lorsque l’immersion est validée le professionnel devient un accueillant. 
                            <br><span>Frais de réservation : </span>frais payés par le découvreur pour réserver une immersion via la plateforme digitale. Ces frais s’ajoutent au prix de l’immersion. 
                            <br><span>Modérateur :</span> personne désignée par la société pour assurer en son nom la modération et la médiation de la Plateforme digitale. 
                            <br><span>Plateforme digitale :</span> site Internet accessible à l'adresse www.viemonjob.com qui permet la mise en relation des utilisateurs.
                            <br><span>Prix de l’immersion ou Prix :</span> désigne le montant payé par le découvreur pour l’immersion, Ce prix inclus la commission et n’inclus par les frais de réservation. Société : désigne la société par action simplifiée VMJ, dont le siège social est situé à Boulogne-Billancourt (92), 77, rue de Bellevue et immatriculée au RCS de Nanterre sous le numéro 815 361 746. Immersion : période pendant laquelle un découvreur se rend sur le lieu déterminé par l’accueillant afin de découvrir son activité professionnelle. L’immersion se fait en respectant la charte de la société et les présentes CGU. Utilisateur : personne utilisant la plateforme digitale en tant qu’accueillant ou en tant que découvreur.

                            <br><br><span>ARTICLE 1- OBJET</span>

                            <br><br>L'objet des CGU est de fixer les conditions d'utilisation de la Plateforme digitale, de régir l'ensemble des relations contractuelles qui s'établiront, par l'intermédiaire de la Plateforme digitale, d’une part, entre les utilisateurs et la société et, d’autre part, entre les utilisateurs. Les CGU établissent les obligations et les responsabilités des utilisateurs et de la société.

                            <br><br><span>ARTICLE 2 – INSCRIPTION A LA PLATEFORME DIGITALE </span>

                            <br>2.1 Avertissements L'inscription est uniquement réservée aux personnes physiques et aux personnes morales ayant la capacité d'accomplir des actes juridiques au sens de l’article 1124 du Code civil. L’inscription d’une personne physique mineure ou d’une personne morale se fait par le biais de son représentant légal. Ledit représentant légal devant être nommément désigné lors de l’inscription. Lorsque le découvreur est une personne physique mineure, son inscription par le biais de son représentant légal vaut autorisation parentale pour l’immersion. 

                            <br><br><span>2.2 Procédure d'inscription </span>

                            <br><br>L'inscription des utilisateurs à la plateforme digitale s'effectue via le site internet www.viemonjob.com.

                            <br><br>Lors de son inscription, l'utilisateur doit remplir l'ensemble des champs obligatoires figurant dans le formulaire d'inscription et est tenu d’accepter les présentes CGU. L'inscription à la plateforme digitale est gratuite.

                            <br><br><span>2.3 Obligations de l'utilisateur </span>

                            <br><br>L'utilisateur s'engage à fournir des données justes et actualisées pour son annonce et à mettre à jour immédiatement son annonce en cas de changement ayant une incidence sur l’immersion. L'utilisateur s'engage auprès de la société à détenir l'ensemble des droits de propriété intellectuelle ou avoir l'autorisation des titulaires de droits sur les contenus (données, images, vidéos, etc.) qu'il transmet à la plateforme digitale et le garantit des conséquences de la transmission et de la diffusion de ces contenus sur la plateforme digitale. L'utilisateur s'interdit la mise en ligne de tout contenu contraire à la législation en vigueur, à l'ordre public et aux bonnes mœurs. Il s’interdit notamment la mise en ligne de contenus constitutifs d'apologie de crimes contre l'humanité, d'incitation à la haine raciale, relevant de la pédopornographie ou encore contraires aux droits et intérêts de tiers. L'utilisateur est le seul responsable des informations qu'il fournit. La société effectue un contrôle très limité des données fournies lors de l'inscription. Dans ces circonstances, la responsabilité de la société ne pourrait être engagée d’aucune façon pour tout dommage ou préjudice résultant de l'entrée d'informations erronées ou incomplètes par l'utilisateur. Chaque utilisateur doit donc s'assurer, le cas échéant, de l'identité de l'autre partie contractante et de la véracité des informations communiquées.

                            La responsabilité de la Société ne saurait être engagée en cas d'usurpation d'identité. Dans ces circonstances, toute personne soupçonnant l'usurpation de son identité doit en informer immédiatement la société, par écrit à VMJ – 77, rue de Bellevue – 92100 Boulogne-Billancourt.

                            Les utilisateurs ne doivent pas bloquer, transcrire ou modifier les contenus générés par la Société, ni gêner l'offre de la société d'aucune autre façon. La société est autorisée à appliquer des mesures d'urgence nécessaires pour assurer l'intégrité des systèmes de la plateforme digitale.

                            <br><br><span>ARTICLE 3 – MISE EN LIGNE D'UNE ANNONCE PAR UN HOTE  </span>

                            <br><br><span>3.1 Création d'une annonce </span>

                            <br><br>Le professionnel a la possibilité de faire publier une annonce présentant son activité professionnelle. Il appartient au professionnel de renseigner parfaitement les champs demandés par la société.

                            Le professionnel déclare et garantit que les champs renseignés sont exacts et s'engage à les mettre à jour si nécessaire. Le professionnel s'engage à assurer la mise à jour et à solliciter la suppression, le cas échéant, de ses annonces obsolètes. 

                            <br><br><span>3.2 Fixation du prix de l’immersion </span>

                            <br><br>Le professionnel fixe librement le prix de l’immersion. Le professionnel est parfaitement informé du fait qu’une commission sera prélevée sur le prix de l’immersion. Le prix fixé par le professionnel ne correspond donc pas à la somme d’argent qui lui sera versée à l’issue de l’immersion.

                            <br><br><span>3.3 Mise en ligne d'une annonce  </span>

                            <br><br>L'annonce est diffusée après validation par le modérateur, dès lors que celle-ci respecte les CGU. Le modérateur se réserve le droit de supprimer toute annonce litigieuse ne respectant pas les CGU. La mise en ligne d'une annonce implique le respect par le professionnel des obligations définies aux présentes CGU.

                            <br><br><span>ARTICLE 4 – PROCESSUS DE CONCLUSION DU CONTRAT </span>

                            <br><br>Les annonces présentées sur la plateforme digitale constituent de simples propositions formulées par les professionnels. Une demande de réservation d'une immersion par un découvreur n'emporte pas formation immédiate du contrat. La conclusion du contrat est subordonnée à l'acceptation définitive du professionnel. Ainsi, après que le découvreur ait sélectionné une annonce sur la plateforme digitale et choisi une date pour l’immersion, il doit saisir ses informations de paiement et valider la demande d’immersion. Cette demande est adressée par la société au professionnel via l’adresse électronique renseignée par ce dernier. Le professionnel doit alors accepter la demande d’immersion pour que le contrat soit considéré comme conclu.

                            Ce contrat est alors conclu entre l’accueillant et le découvreur.

                            A défaut d'acceptation par le professionnel dans les 72 heures de la demande de réservation par le découvreur, le découvreur ne sera pas tenu par sa proposition de contracter et ne sera pas débité du prix de l’immersion.

                            Si le professionnel accepte la proposition du découvreur dans les délais, la société préviendra le découvreur par l'envoi d'un courriel de confirmation de l'acceptation par l'accueillant et de la conclusion du contrat.

                            Le découvreur et l'accueillant préciseront entre eux et sans intervention de la société, les modalités d'organisation de l’immersion.

                            Dans l'hypothèse d'une réponse négative du professionnel ou de l'absence de réponse dans le délai imparti, le découvreur recevra un message lui indiquant que l’immersion choisie ne peut être effectuée et qu'il ne sera pas débité du prix de l’immersion.

                            <br><br><span>ARTICLE 5 – TARIFICATION ET CONDITIONS DE REGLEMENT  </span>

                            <br><br><span>5.1 Tarification </span>

                            <br><br>La réalisation d'une immersion un service payant dont le prix est librement fixé par le professionnel dans les conditions de l’article 3.2. des présentes CGU. Le prix de l’immersion affiché sur la plateforme digitale est celui en vigueur au jour de la demande de réservation formulée par le découvreur. Il est exprimé en euros toutes taxes compris et inclut la commission. La commission est égale à 30% (trente pourcent) du prix d’une immersion arrondi à l'entier supérieur.

                            <br><br>L'accueillant percevra donc le prix de l’immersion diminué de la commission.

                            A titre d’exemple : prix d’immersion affiché sur la plateforme digitale : 200 euros

                            montant total payé par le découvreur : 200 euros commission : 20% de 200 euros soit 40 euros  	montant total perçu par l’accueillant : 200 euros – 40 euros = 160 euros.

                            <br><br><span>5.2 Conditions de Règlement</span>

                            <br><br>Le prépaiement du prix de l’immersion et des frais de réservation s'effectue par carte bancaire, chèque bancaire ou par virement PayPal sur le compte PayPal de la société, au moment de la demande de réservation de l’immersion sur la Plateforme digitale et est nécessaire à l'envoi par la société d'une demande de confirmation par l'accueillant.

                            <br><br>Le prix de l’immersion, auquel s’ajoutent les frais de réservation, ne sera débité qu’après validation par le professionnel de la demande de réservation intervenue dans les conditions fixées à l’article 4 des présentes CGU.

                            Le débit du prix payé par le découvreur est confirmé à ce dernier via l’adresse électronique qu’il a transmis à la société.

                            Dans un délai de 48 heures à compter de la réception de la facture éditée par l’accueillant, la société procédera au versement du prix de l’immersion diminué de la commission par virement bancaire sur le compte bancaire dont l’accueillant a donné le relevé d’identité bancaire à la société.

                            <br><br><span>5.3 Facturation</span>

                            <br><br>La société transmettra au découvreur une facture détaillant le prix de l’immersion, les frais de réservation et les détails de l’immersion. L’accueillant s’engage à fournir, à l’issue de la réalisation de l’immersion et au plus tard dans les 72 heures de celle-ci, une facture comprenant outre les mentions obligatoires le prix de l’immersion diminué de la commission.

                            <br><br><span>ARTICLE 6 – ANNULATION DE L’IMMERSION </span>

                            <br><br><span>6.1 Annulation à l'initiative du découvreur</span>

                            <br><br>Le découvreur souhaitant annuler l’immersion doit en informer, par courriel exclusivement, la société et l’accueillant dans les meilleurs délais. ANNULATION MOINS DE 24 HEURES AVANT LE DEBUT DE L’IMMERSION Si l’annulation est effectuée moins de 24 heures avant la date prévue pour le début de l’immersion, celle-ci sera considérée comme ayant été réalisée et aucun remboursement ne sera effectué au profit du découvreur. En pareille hypothèse, l’accueillant percevra le prix de l’immersion diminué de la commission. ANNULATION PLUS DE 24 HEURES AVANT LE DEBUT DE L’IMMERSION

                            <br><br>Si l’immersion est annulée plus de 24 heures avant la date prévue de réalisation, le remboursement du prix de l’immersion et des frais de réservation sera effectué dans les conditions suivantes : -	si l’annulation est effectuée avant la validation par le professionnel de la demande de réservation : le prix de l’immersion et les frais de réservation ne seront pas débités ; -	si l’annulation est effectuée après la validation par le professionnel de la demande de réservation : le prix de l’immersion sera remboursé au découvreur mais la société conservera les frais de réservation. L’accueillant ne percevra aucune rémunération ni aucun dédommagement à quelque titre que ce soit en cas d’annulation effectuée par le découvreur plus de 24 heures avant la date prévue pour le début de l’immersion. 

                            <br><br><span>6.2 Annulation à l'initiative de l'accueillant</span>

                            <br><br>L’accueillant souhaitant annuler l’immersion doit en informer, par courriel exclusivement, la société et le découvreur dans les meilleurs délais. Quel que soit le moment de l'annulation, le découvreur sera remboursé intégralement du prix de l’immersion et des frais de réservation. Sauf motifs légitimes, qu’il appartiendra à l’accueillant de justifier, la société facturera à l’accueillant le montant de la commission La société se réserve le droit de facturer à l'Accueillant, à titre de pénalité, le montant de la Commission et tout autre frais que la société aurait à supporter en raison de cette annulation.

                            <br><br><span>ARTICLE 7 – INTERRUPTION DE L’IMMERSION</span>

                            <br><br>L’interruption s’entend comme le fait de mettre un terme à l’immersion après le début de celle-ci et avant le terme prévu contractuellement entre le découvreur et l’accueillant, 7.1 Interruption à l'initiative du découvreur Le découvreur souhaitant interrompre l’immersion doit en informer, par courriel exclusivement, la société et l’accueillant dans les meilleurs délais. Le découvreur doit donner les raisons pour lesquelles il ne souhaite pas poursuivre l’immersion. INTERRUPTION POUR DES MOTIFS IMPUTABLES A L’ACCUEILLANT Si l’interruption est motivée par le mauvais déroulement de l’immersion et/ou par l’attitude de l’accueillant, le découvreur pourra solliciter le remboursement partiel du prix de l’immersion au prorata du temps effectué. Les frais de réservation ne feront l’objet d’aucun remboursement. Le découvreur devra justifier qu’il a informé l’accueillant desdites difficultés avant d’interrompre son immersion. En pareille hypothèse, l’accueillant percevra le prix de l’immersion diminué de la commission et de la part remboursée au découvreur. La société se réserve le droit de facturer à l’accueillant des pénalités correspondant notamment aux frais qu’elle aura été contrainte de supporter en raison de cette interruption.

                            <br><br><span>INTERRUPTION POUR DES MOTIFS NON IMPUTABLES A L’ACCUEILLANT</span>

                            <br><br>Si les causes de l’interruption ne sont pas imputables à l’accueillant et/ou ne sont pas motivées par le mauvais déroulement de l’immersion, le découvreur ne pourra solliciter aucun remboursement, même partiel, tant du prix de l’immersion, que des frais de réservation. En pareille hypothèse, l’immersion sera considérée comme ayant été réalisée intégralement et l’accueillant percevra le prix de l’immersion diminué de la commission. La société se réserve le droit de facturer au découvreur des pénalités correspondant notamment aux frais qu’elle aura été contrainte de supporter en raison de cette interruption. 7.2 Interruption à l'initiative de l'accueillant L’accueillant souhaitant interrompre l’immersion doit en informer, dans les meilleurs délais, par courriel exclusivement, la société, le découvreur et le représentant du découvreur lorsque ce dernier est mineur. L’accueillant doit préciser les raisons pour lesquelles il ne souhaite pas poursuivre l’immersion. INTERRUPTION POUR DES MOTIFS IMPUTABLES AU DECOUVREUR Si l’interruption est motivée par le mauvais déroulement de l’immersion et/ou par l’attitude du découvreur, l’immersion sera considérée comme ayant été effectuée jusqu’à son terme. L’accueillant pourra alors solliciter le versement du prix de l’immersion minoré de la commission et devra justifier qu’il a informé le découvreur desdites difficultés avant d’interrompre l’immersion. En pareille hypothèse, le découvreur ne pourra prétendre à aucun remboursement, même partiel, tant du prix de l’immersion que des frais de remboursement. La société se réserve le droit de facturer au découvreur des pénalités correspondant notamment aux frais qu’elle aura été contrainte de supporter en raison de cette interruption. INTERRUPTION POUR DES MOTIFS NON IMPUTABLES AU DECOUVREUR

                            Si les causes de l’interruption ne sont pas imputables au découvreur et/ou ne sont pas motivées par le mauvais déroulement de l’immersion, l’accueillant ne pourra solliciter aucun versement, même partiel, du prix de l’immersion. Le découvreur pourra solliciter le remboursement partiel du prix de l’immersion au prorata du temps effectué. Les frais de réservation ne feront l’objet d’aucun remboursement. La société facturera à l’accueillant le montant de la commission qu’elle aurait dû percevoir s’il n’y avait pas eu d’interruption. La société se réserve également le droit de facturer à l’accueillant des pénalités correspondant notamment aux frais qu’elle aura été contrainte de supporter en raison de cette interruption. ARTICLE 8 – EVALUATIONS ET TEMOIGNAGES

                            Les utilisateurs sont invités, une fois l’immersion réalisée, à évaluer la personne avec laquelle l’immersion s’est déroulée. Pour ce faire, la plateforme digitale met à la disposition des utilisateurs un système de notation et de témoignages.

                            Les évaluations attribuées sont accessibles à l'ensemble des utilisateurs de la plateforme digitale.

                            Le découvreur et l'accueillant s'engagent à participer au programme d'évaluation de bonne foi, à fournir des indications véridiques et correspondant réellement à leur appréciation.

                            Les témoignages et les évaluations ne doivent pas porter atteinte aux personnes et ne doivent contenir ni diffamation ou injure, ni discrimination, ni incitation à la haine ou à la violence et généralement tout autre comportement sanctionné par la législation en vigueur.

                            La société se réserve le droit de supprimer, exceptionnellement, toute évaluation ou commentaire pour lequel il est matériellement établi que le contenu de l'information ne correspond pas à la réalité de l’immersion effectuée, qu'il est diffamatoire, injurieux ou manifestement abusif. Malgré sa vigilance, la société ne peut être tenue responsable des témoignages et évaluations figurant sur la plateforme digitale.

                            <br><br><span>ARTICLE 9 – NATURE DES RELATIONS CONTRACTUELLES</span>

                            <br><br>Les utilisateurs sont parfaitement informés du fait que l’immersion a pour seul et unique but de faire découvrir une activité professionnelle sans que le découvreur ne puisse, durant cette immersion, effectuer des tâches rémunérées et/ou se trouver sous un lien de subordination. En conséquence, l’accueillant s’interdit d’exercer un quelconque pouvoir de direction, de donner des ordres, de rémunérer le découvreur pour les tâches effectuées. Le découvreur s'interdit d'accepter ou de prendre l'initiative d'effectuer des tâches, de recevoir des directives de la part de l'accueillant et de percevoir une quelconque rémunération. L’immersion doit s’analyser en une prestation de service et non pas comme une prestation de travail, au sens du Code du travail et de la jurisprudence applicable, ou comme un stage. Ainsi les accords liant le découvreur et l’accueillant ne constituent pas un contrat de travail, une convention de stage, un contrat d’apprentissage ou un contrat de professionnalisation. La responsabilité de la société ne saurait être engagée dans l’hypothèse où l’immersion serait requalifiée en contrat de travail ou en toute autre convention.

                            <br><br><span>ARTICLE 10 – ENCADREMENT DE LA RESPONSABILITE DE LA SOCIETE</span>

                            <br><br>La réalisation d’une immersion proposée dans le cadre de la plateforme digitale est strictement limitée à un échange ponctuel et de courte durée. La Plateforme digitale a pour objet la mise en relation de professionnels et de particuliers. La société n’intervient qu’au titre d’intermédiaire entre l’accueillant et le découvreur. L'utilisateur reconnait et accepte que la société n'est partie à aucun des accords ou contrats qui pourraient être conclus entre l'accueillant et le découvreur. La société n'agit pas en qualité de recruteur. La société n'a aucun contrôle sur le comportement de l'accueillant et/ou du découvreur et ne peut en aucun cas en être tenue responsable des dysfonctionnements qui pourraient survenir durant l’immersion. La société n’est pas partie à l’immersion et, à ce titre, elle ne saurait voir sa responsabilité engagée en cas de non-respect des accords conclus entre l’accueillant et le découvreur. La société ne propose pas d’immersion en son nom propre et n'accepte aucune offre directement.

                            Dans ces circonstances, la société n’exerce aucun contrôle sur l'exactitude et l'intégrité des annonces ainsi que les contenus renseignés par les utilisateurs. La responsabilité de la société ne saurait donc être recherchée pour tout dommage direct ou indirect résultant de l'utilisation de la plateforme digitale et/ou de l'exécution d’une immersion.

                            <br><br><span>ARTICLE 11 – OBLIGATIONS DES UTILISATEURS </span>

                            <br><br><span>11.1 Obligations de l'accueillant </span>

                            <br><br>En complément des engagements déjà pris au terme des présentes CGU, l'accueillant s'oblige à : respecter la description de l'annonce (contenu, modalités, durée, etc.) ; être actif et disponible pour le découvreur pendant toute la durée de l’immersion ; informer et faire prendre connaissance au découvreur du règlement intérieur applicable et de toutes les règles d'hygiène et de sécurité à respecter, si ces dernières existent ; informer le découvreur et lui faire prendre connaissance des règles de confidentialité à respecter le cas échéant ; s’assurer du bon respect des règles déontologiques et/ou spécifiques liées à son activité professionnelle. En termes d'assurance, l'accueillant doit : être titulaire, auprès d'une ou plusieurs compagnies notoirement solvables, d'une police d'assurance "responsabilité civile" en vigueur au moment de la réalisation de l’immersion et couvrant pour des montants suffisants les conséquences pécuniaires de la responsabilité qu'il peut encourir à raison des préjudices corporels, matériels et/ou immatériels consécutifs ou non-consécutifs causés à autrui et en particulier au découvreur ; être titulaire, auprès d'une ou plusieurs compagnies notoirement solvables, d'une police d'assurance couvrant les risques d'incendie, d'explosion et risques divers couvrant pour des montants suffisants les locaux dans lesquels se déroulent l’immersion ; justifier auprès de la société de la souscription de ces assurances ; 	en cas d'accident survenant dans le local ou du fait du local pendant le déroulement de l’immersion, quel qu'en soit la cause, l'accueillant prendra, à son compte personnel et à sa charge entière, toute responsabilité en résultant à l'égard de la société, comme de tous tiers, sans que la société ne puisse être inquiétée ou poursuivie de ce chef.

                            <br><br><span>11.2 Obligations du découvreur</span>

                            <br><br>En complément des engagements déjà pris au terme des présentes CGU, le découvreur s'oblige à : prendre connaissance du règlement intérieur applicable aux lieux dans lesquels se déroule l’immersion et s'y conformer ; prendre connaissance des règles d'hygiène et de sécurité propres aux lieux de l’immersion et/ou au métier ou à l'activité objet de l’immersion et respecter les directives de l'accueillant concernant ces règles ; respecter la confidentialité des informations communiquées par l'accueillant lorsque celui-ci en fait la demande ; respecter les règles déontologiques et/ou spécifiques s’appliquant à l’activité professionnelle de l’accueillant.

                            En termes d'assurance, le découvreur doit : être titulaire, auprès d'une ou plusieurs compagnies notoirement solvables, d'une police d'assurance "responsabilité civile" en vigueur au moment de la réalisation de l’immersion et couvrant pour des montants suffisants les conséquences pécuniaires de la responsabilité qu'il peut encourir à raison des préjudices corporels, matériels et/ou immatériels consécutifs ou non-consécutifs causés à autrui ; justifier auprès de la société de la souscription de cette assurance. Tout mineur désirant effectuer une immersion devra, soit être accompagné d'une personne majeure lors de la réalisation d’une immersion, soit avoir obtenu au préalable une autorisation écrite de son représentant légal. Cette autorisation devra être remise à la société et à l’accueillant.

                            <br><br><span>ARTICLE 12 – DONNEES PERSONNELLES</span>

                            <br><br>La société informe l'utilisateur que ses données sont enregistrées et ont fait l'objet d'une déclaration auprès de la CNIL enregistrée sous le n°1937036, conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés. En conséquence, l'utilisateur dispose d'un droit d'accès, de modification et de rectification ou de suppression de ces données collectées en contactant simplement la société à l'adresse suivante :

                            VMJ 77, rue de Bellevue – 92100 Boulogne-Billancourt Les données transmises par l'utilisateur ne sont pas communiquées à des tiers et ne sont pas utilisées à des fins de prospection commerciale.

                            Les données transmises par l'utilisateur sont conservées pendant toute la durée d'utilisation de la plateforme digitale augmentée d'un an.

                            Les données relatives aux cartes bancaires sont conservées dans les conditions de la norme simplifiée n°48 adoptée par la CNIL le 7 juin 2005. Par ailleurs, le professionnel autorise expressément la société à diffuser les contenus associés à son annonce sur la plateforme digitale et les réseaux sociaux, à des fins de promotion du service. Cette autorisation est donnée pour une exploitation sur le territoire du monde entier et pour toute la durée de l'utilisation de la plateforme digitale par l'utilisateur. Enfin, des cookies sont susceptibles d'être implantés dans les ordinateurs des utilisateurs, afin de stocker des informations relatives à sa navigation sur la plateforme digitale. La durée de conservation de ces informations est de 48 heures. L'utilisateur conserve la faculté de s'opposer à l'enregistrement des cookies en paramétrant son navigateur.

                            <br><br><span>ARTICLE 13 – ACCES A LA PLATEFORME DIGITALE</span>

                            <br><br>L'accès à la plateforme digitale est possible 365 jours par an, 24h/24, 7j/7. Néanmoins, la société se réserve le droit d'interrompre immédiatement et sans préavis l'accès à la plateforme digitale notamment dans les cas suivants : -	afin de procéder à une intervention technique, d'améliorer son fonctionnement ou pour toute opération de maintenance de la plateforme digitale ; -	en cas de réception par la société d'un avis notifié par une autorité administrative, judicaire ou arbitrale compétente conformément à la législation en vigueur ou par un tiers, et notamment conformément à la loi n°2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique. La société n'est tenue que d’une obligation de moyens de maintenir la plateforme digitale accessible. L’accès à la plateforme digitale pourra également être interrompu en cas de coupure/panne des réseaux, panne ou surcharge de la plateforme digitale ou en cas de force majeure. Par ailleurs, la société n'apporte aucune garantie à l’utilisateur sur la pérennité de la plateforme digitale qui pourra être rendue inaccessible sans préavis, à l'initiative de la société ou d'un tiers ayant autorité. L'utilisateur reconnaît et accepte formellement que la responsabilité de la société ne puisse, directement ou indirectement, être retenue à quelque titre que ce soit pour les dommages liés à une interruption de la plateforme digitale indépendante de sa volonté et/ou motivée par un quelconque comportement fautif de l'utilisateur. 

                            <br><br><span>ARTICLE 14 – PROPRIETE INTELLECTUELLE</span>

                            <br><br>L'ensemble des éléments présentés sur la plateforme digitale sont la propriété exclusive de la société, seule habilitée à utiliser ces droits de propriété intellectuelle.

                            Par l'utilisation de la plateforme digitale, il est donc concédé à l'utilisateur une licence d'utilisation limitée au contenu de la plateforme digitale, non exclusive et pour son usage privé uniquement. Ainsi, le droit de reproduire, modifier intégralement ou partiellement un ou plusieurs éléments présentés sur la plateforme digitale est autorisé à des fins exclusives d'information et pour un usage strictement personnel et privé. Tout usage commercial est strictement interdit.

                            Il est précisé que les photos figurant dans le descriptif de chaque annonce sont seulement descriptives et n'ont aucun caractère contractuel.

                            <br><br><span>ARTICLE 15 – TOLERANCE</span>

                            <br><br>Le fait que la société ne se prévale pas et/ou tolère un manquement par l’utilisateur à l'une quelconques des obligations visées aux présentes, de façon temporaire ou permanente, ne peut être interprété comme une renonciation à l'obligation en cause. En conséquence, la société pourra à tout moment exiger d’utilisateur le respect de l'obligation en cause.

                            <br><br><span>ARTICLE 16 – ATTRIBUTION DE COMPETENCE</span>

                            <br><br>En cas de contestation sur l'interprétation ou l'exécution des présentes, celle-ci sera portée devant les juridictions compétentes à savoir, le Tribunal d’Instance de Boulogne-Billancourt, le Tribunal de Commerce de Nanterre ou le Tribunal de Grande Instance de Nanterre.

                            <br><br><span>ARTICLE 17 – NOTIFICATIONS</span>

                            <br><br>L'utilisateur accepte expressément de recevoir de la société, des courriers électroniques de notification portant sur son inscription ou son utilisation de la plateforme digitale.

                            <br><br><span>ARTICLE 18 – LOI APPLICABLE </span>

                            <br><br>Les présentes CGU sont régies par la loi française.

                            <br><br><span>ARTICLE 19 – DROIT DE RETRACTATION </span>

                            <br><br>Conformément aux dispositions de l’article L.121-21 du Code de la consommation, le découvreur dispose d’un délai de quatorze jours (14) à compter de la conclusion du contrat pour exercer son droit de rétractation. L’exercice du droit de rétractation se fait par l’envoi d’un courriel à la société qui en accusera la bonne réception. Le découvreur qui exerce son droit de rétractation pourra alors se faire rembourser par la société dans un délai de sept jours (7) à compter de l’exercice du droit de rétractation. En tout état de cause, l’exercice du droit de rétractation doit s’effectuer avant le début de l’immersion et conformément à l’article 6 des présentes CGU.

                            <br><br><span>ARTICLE 20 – MEDIATION OBLIGATOIRE</span>

                            Conformément aux dispositions de l’article L.152-1 du Code de la consommation, en tant que consommateur, le découvreur a le droit de recourir gratuitementà un médiateur de la consommation en vue de la résolution amiable du litige qui l’opposerait à la société VMJ. A cet effet, la société garantit au consommateur le recours effectif à un dispositif de médiation de la consommation. Conformément aux dispositions de l’article L.152-1 du Code de la consommation, le litige ne pourra pas être examiné par le médiateur de la consommation lorsque : -	le découvreur ne justifie pas avoir tenté, au préalable, de résoudre son litige directement auprès de la société VMJ par une réclamation écrite ; -	la demande est manifestement infondée ou abusive ; -	le litige a été précédemment examiné ou est en cours d'examen par un autre médiateur ou par un tribunal ; -	le découvreur a introduit sa demande auprès du médiateur dans un délai supérieur à un an à compter de sa réclamation écrite auprès de la société VMJ ; -	le litige n'entre pas dans son champ de compétence.</p>
                    </div>
                </div>
            </div>
        </section>

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}

    </div>
{% endblock %}

