{% extends 'layout/layoutBO.html.twig' %}

{% block body %}
    <h1>Pages edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('pages_index') }}">Retour à liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer la page">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% block javascripts %}
        <script src="{{ asset('bundles/vmj/ckeditor/ckeditor.js') }}"></script>
    {% endblock javascripts %}
{% endblock %}
