{% extends 'layout/layoutBO.html.twig' %}

{% block body %}
    <h1>Liste des pages</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
              <!--  <th>Deletedat</th> -->
              <th>Titre</th>
                <th>Contenu</th>
                <th>Slug</th>
                <th>Date creation</th>
                <th>Derniere modification</th>
                <th>Ancien titre</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.titre }}</td>
                <td>{{ page.contenu }}</td>
             {#   <td>{% if page.deletedAt %}{{ page.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                <td>{{ page.slug }}</td>
                <td>{% if page.created %}{{ page.created|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if page.updated %}{{ page.updated|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if page.titleChanged %}{{ page.titleChanged|date('d-m-Y H:i:s') }}{% endif %}</td>
                
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pages_show', { 'id': page.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('pages_edit', { 'id': page.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pages_new') }}">Creer une nouvelle page</a>
        </li>
    </ul>
{% endblock %}
