{% extends 'base.html.twig' %}

{% block title %}Les partenaires de Viemonjob{% endblock %}
{% block description %}Les partenaires de Viemonjob, les entreprises séduites par l'idée d'essayer un métier{% endblock %}
{% block keywords %}Viemonjob, VMJ, partenaires{% endblock %}


{% block body %}
    <div id="wrap">

        {% block header %}
            {{ parent() }}
        {% endblock header %}

        <!-- PAGE COORPORATE -->
        <!-- À propos -->

           <section class="  ">
                <div class="row    hidden-xs-down  ">
                </div>
            </section> 
        <!-- Menu à propos -->  

        <section>

            <div class="container submenuapropos pt25 pb20"> 
                <ul class="nav nav-tabs">
                    <li><a href="{{path('page_a_propos')}}">À propos</a></li>
                    <li><a href="{{path('page_aide')}}">FAQ</a></li>
                    <li class="active clearfix"><a href="{{path('page_on_parle_de_nous')}}">On parle de nous</a></li> 
                    <li><a href="{{path('page_cgv')}}">Conditions générales d'utilisation</a></li>
                    <li><a href="{{path('page_mentions_legales')}}">Mentions légales</a></li> 
                </ul>

                <!-- Contenu -->
                 <div class="col-sm-6 text-center"> <h1 class="fw100 mauve fs50 pt30">Les partenaires de Viemonjob</h1>
                 </div>

                <div class="tab-content display-inline submenuaproposcontent">
                    <div id="apropos2" class="padd10p tab-pane fade in active fw100">                  
                        <!--Div1--> 
                        <div class="container">
                            <div class="row text-center onparledenous">
                                <!--ORGANISATIONS-->
                                <div class="container clearfix inlineblock">
                                    <h2>Organisations</h2>
                                </div>
                                {% for partenaire in partenaires %}
                                    {% if partenaire.cat == 0 %}
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                                            <a href="{{ partenaire.lien }}" target="_blank"><img src="{{ asset('theme/img/logo/'~partenaire.logolien) }}">
                                            <p>{{ partenaire.name }}</p></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <!--Accélérateurs/incubateurs-->
                                <div class="container clearfix inlineblock">
                                    <h2>Accélérateurs / incubateurs</h2>
                                </div>
                                {% for partenaire in partenaires %}
                                    {% if partenaire.cat == 1 %}
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                                            <a href="{{ partenaire.lien }}" target="_blank"><img src="{{ asset('theme/img/logo/'~partenaire.logolien) }}">
                                            <p>{{ partenaire.name }}</p></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <!--Économie sociale et solidaire-->
                                <div class="container clearfix inlineblock">
                                    <h2>Économie sociale et solidaire</h2>
                                </div>
                                {% for partenaire in partenaires %}
                                    {% if partenaire.cat == 2 %}
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                                            <a href="{{ partenaire.lien }}" target="_blank"><img src="{{ asset('theme/img/logo/'~partenaire.logolien) }}">
                                            <p>{{ partenaire.name }}</p></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <!--Écoles-->
                                <div class="container clearfix inlineblock">
                                    <h2>Écoles</h2>
                                </div>
                                {% for partenaire in partenaires %}
                                    {% if partenaire.cat == 3 %}  
                                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                                            <a href="{{ partenaire.lien }}" target="_blank"><img src="{{ asset('theme/img/logo/'~partenaire.logolien) }}">
                                            <p>{{ partenaire.name }}</p></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>  

       {% block temoignages %}
            {{ parent() }}
        {% endblock temoignages %} 

        {% block metiers %}
            {{ parent() }}
        {% endblock metiers %}

        {% block newsletters %}
            {{ parent() }}
        {% endblock newsletters %}

        {% block footer %}
            {{ parent() }}
        {% endblock footer %}
    </div>
    {% endblock %}
