{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrap">

        {% block header %}
            {{ parent() }}
        {% endblock header %}

        <section>
            <div class="page-title">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-sm-5">
                            <h3>Réservation</h3>
                        </div>
                        <div class="col-md-7 col-sm-7 hidden-xs">
                            <div class="page-title-address">
                                <a href="{{path('vmj_homepage')}}">Accueil</a><i class="fa fa-angle-right"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!-- and Page title -->
        <section>
            <div class="service-2">
                <div class="container">
                    <h2>{{ commande.immersion.title }}, {{ commande.immersion.professionnel.town }}</h2>
                    <div class="row inline-block">
                        {{ form_start(form) }}


                        {{ form_label(form.motivation, null, {'label': 'Pour mieux préparer votre immersion, expliquez nous pourquoi vous souhaitez découvrir ce métier ?'}) }}
                        {{ form_widget(form.motivation, {'attr': {'class': 'form-control'}}) }}
                        <br>

                        <input type="submit" class="btn btn-success" value="Enregistrer"/>

                        {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                        <br><br>
                    </div>
                </div>
            </div>            
        </section>
    </div>
    {% block footer %}
        {{ parent() }}
    {% endblock footer %}
{% endblock body %}