{% extends 'base.html.twig' %}

{% block body %}
    <h1>Conversations</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conversation.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if conversation.created %}{{ conversation.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if conversation.updated %}{{ conversation.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('conversations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('conversations_edit', { 'id': conversation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
