{% extends 'layout/layoutBO.html.twig' %}
{% block titrepage %} Messages envoyés {% endblock titrepage %}
{% block body %}

    <div class="wrap">
        <section class="app-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="app-action-panel" id="inbox-action-panel">
                        <div class="action-panel-toggle" data-toggle="class" data-target="#inbox-action-panel" data-class="open">
                            <i class="fa fa-chevron-right"></i>
                            <i class="fa fa-chevron-left"></i>
                        </div><!-- .app-action-panel -->

                        <div class="m-b-lg">
                            <a href="{{path('messages_compose')}}" type="button" class="btn action-panel-btn btn-default btn-block">Nouveau</a><!--data-toggle="modal" data-target="#composeModal"--> 
                        </div>

                        <div class="app-actions-list scrollable-container">
                            <!-- mail category list -->
                            <div class="list-group">
                                <a href="{{path('messages_inbox')}}" class="text-color list-group-item"><i class="m-r-sm fa fa-envelope"></i>Reçus</a>
                                <a href="{{path('messages_outbox')}}" class="text-color list-group-item"><i class="m-r-sm fa fa-paper-plane"></i>Envoyés</a>
                                <a href="{{path('messages_write_admin')}}" class="text-color list-group-item"><i class="m-r-sm fa fa-user-secret"></i>Ecrire admin</a>
                            </div><!-- .list-group -->

                        </div><!-- .app-actions-list -->
                    </div><!-- .app-action-panel -->
                </div><!-- END column -->

                <div class="col-md-10">
                    

                    <div class="table-responsive">
                        <table class="table mail-list">
                            <tr>
                                <td>

                                    {% for sent in sents %}
                                        <!-- a single mail -->
                                        <div class="mail-item">
                                            <table class="mail-container">
                                                <tr>
                                                    <td class="mail-left">
                                                        {% if sent.destinataire is null %}
                                                            <div class="avatar avatar-lg avatar-circle">
                                                                <a href="#"><img src="{{ asset('theme/img/vmj-logo.png') }}" alt="Admin Vmj"></a>
                                                            </div>
                                                            <div class="avatar avatar-lg avatar-circle">
                                                                <h4>Administration Viemonjob</h4>
                                                            </div>
                                                        {% else %}
                                                            <div class="avatar avatar-lg avatar-circle">
                                                                <a href="#"><img src="{{ sent.destinataire.photo }}" alt="avatar photo"></a>
                                                            </div>
                                                            <div class="avatar avatar-lg avatar-circle">
                                                                <h4>{{sent.destinataire.firstname}} {{sent.destinataire.lastname}}</h4>
                                                            </div>
                                                        {% endif %}

                                                    </td>
                                                    <td class="mail-center">
                                                        <div class="mail-item-header">
                                                            <h4 class="mail-item-title"><a href="{{path('messages_voir',{'id' : sent.id})}}" class="title-color">{{sent.objet}}</a></h4>
                                                            {% if not sent.lu %} <a href="#"><span class="label label-primary">Non lu</span></a> {% endif %}
                                                        </div>
                                                        <p class="mail-item-excerpt">{{sent.message}}</p>
                                                    </td>
                                                    <td class="mail-right">
                                                        <p class="mail-item-date">{% if sent.created is defined %}{{sent.created|date('d-m-Y')}}{% endif %}</p>
                                                        <p class="mail-item-star">
                                                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div><!-- END mail-item -->

                                    {% endfor %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div><!-- END column -->
            </div><!-- .row -->
        </section><!-- .app-content -->
    </div><!-- .wrap -->

    <!-- Compose modal -->
    <div class="modal fade" id="composeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">New Message</h4>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="form-group">
                            <input name="mail_from_field" id="mail_from_field" type="text" class="form-control" placeholder="from">
                        </div>
                        <div class="form-group">
                            <input name="mail_to_field" id="mail_to_field" type="text" class="form-control" placeholder="to">
                        </div>
                        <div class="form-group">
                            <input name="mail_subject_field" id="mail_subject_field" type="text" class="form-control" placeholder="subject">
                        </div>
                        <textarea name="mail_body_field" id="mail_body_field" cols="30" rows="5" class="form-control" placeholder="content"></textarea>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    <button type="button" data-dismiss="modal" class="btn btn-success"><i class="fa fa-save"></i></button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Send <i class="fa fa-send"></i></button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- new label Modal -->
    <div id="labelModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Create / update label</h4>
                </div>
                <form action="#" id="newCategoryForm">
                    <div class="modal-body">
                        <div class="form-group m-0">
                            <input type="text" id="catLabel" class="form-control" placeholder="Label">
                        </div>
                    </div><!-- .modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                    </div><!-- .modal-footer -->
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- delete item Modal -->
    <div id="deleteItemModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Delete item</h4>
                </div>
                <div class="modal-body">
                    <h5>Do you really want to delete this item ?</h5>
                </div><!-- .modal-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div><!-- .modal-footer -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock body %}
